*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.container{
    margin: 0px auto;
    max-width: 100%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #aa9dd0;
    padding: 10px 0px;
    transition: all 0.3s ease-in-out;
    z-index: 4;

   /* position: relative;*/

}

#wraper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

header.sticky{
    background: #3b4147;
    opacity: 0.9;
    padding: 15px 0px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    z-index: 5;
}

header.sticky #logo{
    color: #000;
}

header.sticky #main-menu a{
    color: #fff4f4; 
}

.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: block;
}
.logo{
    margin-left: 110px;
    margin-right: 250px;
}

ul#main-menu{
    display: flex;
}
ul#main-menu a{
    text-transform: uppercase;
    padding:10px 20px ;
    color: rgb(255, 255, 255);
    display: block;
}


#lg_lo{
    margin-right: 20px;
}

.login_signup{
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px; 
}

#avt_users{
    margin-left: 200px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border: 2px solid #000;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #000;
}

@keyframes avt_animate{
    0%{
        box-shadow: 0px 0px 0px 0px rgba(113, 170, 164, 0.75);
    }
    50%{
        box-shadow: 0px 0px 10px 10px rgba(113, 170, 164, 0.75);
    }
    100%{
        box-shadow: 0px 0px 0px 0px rgba(113, 170, 164, 0.75);
    }
}

.avt_animations{
    box-shadow: 0px 0px 10px 10px rgba(113, 170, 164, 0.75);
    animation: avt_animate 0.2s 1 alternate;
}

.user_info{
    position: relative;
}

.mid_user_info{
    position: absolute;
    background-color: #1110133d;
    border: 1px solid #11a6e6;
    width: 250px;
    height: auto;
    right: 50px;
    top: 38px;
    padding: 15px 30px;
    border-radius: 8px;
    display: none;
}

.logo_name{
    display: flex;
}
.logo_name li{
    display: block;
    padding: auto ;
    border: 1px solid #000;
    background-color: none;
    color: #000;
    margin-bottom: 5px;
    border-radius: 7px;
    justify-content: center;
}

#name_info{
    border: none;
}

#name_info a{
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

#email a{
    font-size: 13px;
}

ul.users_info >li{  
    display: block;
    padding: 7px ;
    border: 1px solid #000;
    background-color: #221e2996;
    text-decoration: none;
    color: #000;
    margin-bottom: 5px;
    border-radius: 7px;
    padding-bottom: 2px;
    justify-content: center;
    align-items: center;
}

.users_info li a{
    display: block;
    padding-left: 15px; 
    margin: auto;
    padding-bottom: 6px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

ul.users_info > li:hover{
    background-color: #3a3543ad;
}

header.sticky ul.users_info > li a{
    color: #ffffff;
}

header.sticky .mid_user_info{
    background-color: #1110138d;
}
header.sticky ul.users_info > li:hover{
    background-color: #14121cad;
}


 




#banner{
    background-image: url(https://images.foody.vn/res/g115/1146978/prof/s640x400/foody-upload-api-foody-mobile-fo-6aaa5e7a-220805103122.jpeg);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: fixed;
}
.content{
    position: relative;
    display: flex;

}
/*
.product{
    position: absolute;
    right: 8%;
    top: 30vh;
    height: 100vh;
    width: 45%;
    background-color: rgba(255, 252, 252, 0.5);
    border-radius: 5%;
}*/

#FoodBoxContainer{
    position: absolute;
    right: 8%;
    top: 30vh;
    height: auto;
    width: 45%;
    background-color: rgba(255, 252, 252, 0.5);
    margin-bottom: 100px;
    padding-bottom: 20px;
    z-index: 1;
}

/* trà sữa */
ul.milktea{
    display: flex;  
    flex-wrap: wrap; 
    justify-content: space-between; 
}
ul.milktea li{  
    flex: 0 0 calc(50% - 5px); 
    box-sizing: border-box;
   /* flex: 35%;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}

#FoodBoxContainer li img{
    size: 50%;
    max-width: 100%;
    height: auto;
}

.item{
    background-color: #fff;
    padding: 10px 10px;
    border: 1px 1px solid #030109;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.item:hover {
    transform: scale(1.02);
}

.product-top{
    position: relative;
}

.btn{
    width: 70%;
    padding: 10px 12px;
    text-align: center;
    justify-content: center;
    margin: 0 3px;
}
.cart{
    position: absolute;
    width: 20%;
    font-weight: 500;
    font-size: 100%;  
}


.product-info {
    font-size: 100%;
    text-align: center;
    text-decoration: none;
}

.product-info .product-price{
    color: #000;
    border-top: 1px solid #3f00fb;
}

.product-info .product-name{
    color: #236d57;
    font-weight: 500;
}


.search_info{
    position: absolute;
    top: 35vh;
    left: 5%;
    width: 40%;
    position: fixed;
}

.search_info h2{
    padding-bottom:15px ;
}


.search{
    width: 70%;
    height: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    padding-inline-start: 10px;
}
.btn_search{
    color: #fff;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #18711b;
    padding: 12px 15px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.btn_search:hover{
    opacity: 0.8;
}

.address{
    position: absolute;
    left: 50%;
    top: 20vh;
    color: #47d24b;
    z-index: 2;
}
.set-address{
    width: 60vh;
    height: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    padding-inline-start: 10px;
}

.btn_address{
    color: #ffffff;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #636d33;
    padding: 8px 15px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    font-weight: 300;
    
}

.btn_address:hover{
    opacity: 0.8;
}

.buy{
    color: #ffffff;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #369d52;
    padding: 8px 15px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.buy:hover{
    opacity: 0.8;
}
.cart{
    color: #ffffff;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #369d52;
    padding: 8px 15px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.cart:hover{
    opacity: 0.8;
}


#contact-info{
    background-color: #000;
    height: 300px;
    width: 600px;
    position: absolute;
}

  
/* CSS cho hộp cha */
.box-info-web {
    display: flex;
    position: fixed;
    top: 55vh;
    left: 3vh;
    height: 250px;
    animation: animation 3s infinite ease-in-out;
}
/* CSS cho các hộp con */
.box-info-web > div {
    width: 50%; 
    height: 160px;
    background-color: #ffffff; 
    color: #000000; 
    text-align: center;
    justify-content: center;
    padding: 10px; 
    margin: 4%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    
}

.box-info-web-1, .box-info-web-3, .box-info-web-2 {
    animation: animation 3s infinite ease-in-out;
}

@keyframes animation {
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.box-info-web .box-info-web-1, .box-info-web-3
{
    animation-delay: 0.5s;
}
.box-info-web .box-info-web-2
{
    animation-delay: 1s;
}

.box-info-web-1 #p1{
    font-size: 26px;
    padding-top: 20px;
    font-weight: 600;
    color: #146316;
}
.box-info-web-1 #p2{
    font-size: 40px;
    padding-top: 10px;
    color: #146316;
}

.box-info-web-3 #p1{
    font-size: 26px;
    padding-top: 20px;
    font-weight: 600;
}
.box-info-web-3 #p2{
    font-size: 20px;
    padding-top: 18px;
    font-weight: 400;
}

.box-info-web-2 >p{
    font-size: 18px;
    padding-top: 20px;
    font-weight: 400;
}

.box-info-web .box-info-web-2{
    height: 200px;
    margin-top: 0;
}

.box-info-web .box-info-web-1, .box-info-web-3{
    margin-top: 20px;
}



/* CSS cho các thẻ p trong mỗi hộp */
.box-info-web > div p {
    margin-bottom: 10px; 
}


@media screen and (max-width: 900px) {
    .box-info-web {
        display: none;
    }
}

.box-info-web-2 img {
    width: 40px; /* Set width of images */
    height: 40px; /* Set height of images */
    margin-right: 5px; /* Add some spacing between images */
    margin-top: 15px;
}

#container_content{
    display: none; /* Mặc định ẩn phần container_nav */
    background-color: #0a2210;
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: 100;
}
/*
#footer{
    background-color: #0a2210;
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: 100;
}*/

.test{
    background-color: #000000;
    height: 400px;
    width: 100%;
    z-index: 2;
}
